.C1{
    color: white;
    text-align: center;
    font-size: 40px;
}

.formulario{
    
    margin: auto;
    text-align: center;
    background-color: rgb(137, 4, 4);
    height: 380px;
    width: 50%;
    border-radius: 30px;


}
.espacio1{

    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    margin: 10px;
}
.espacio2{
    width: 500px;
    margin: auto;
    display: block;
    align-items: center;
    font-size: 15PX;
}
.espacio3{
    margin: 10px;
    align-items: center;
    border-radius: 30px;
    font-size: 30px;
}
footer{

    position: relative;
    top: 200px;
    background-color: black;
    align-items: center;
    padding: 30px;
    
}

/* fin de pagina*/
